<ion-view style="padding: 10px; font-size: 25px; line-height: 25px; font-family: square; background: black; color: #00cc99; text-align: center; padding-top: 100px;" ng-click="goToMain()">

Sound Effects by: <br>
Mike Koenig <br>
CouchMango <br> <br>

Music by: <br>
www.bensound.com <br>


<div style="padding-top: 40px;font-size: 15px;">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> <br> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</ion-view>