<ion-view id="gamePage">

<div id="main-playerData">
  <div>Username: <span style="color: rgba(100,200,255,1);">{{player.username}}</span></div>
  <div>Earnings: <span style="color: green;">k{{commafyNumber(player.funds)}}.00</span></div>
</div>

<div id="game-target-container">
  <div id="game-target-label">{{target.type.toUpperCase()}}</div>
  <image id="game-target-image" src="{{ 'img/' + target.imageUrl + '.png' }}"></image>
  <div id="game-target-account">#{{target.accountNum}}</div>
  <div id="game-target-funds">k{{commafyNumber(target.funds)}}.00</div>
</div>

<div id="game-toolbar-container">
  <div ng-click="item.clickHandler()" class="{{item.ioniconTag}} game-toolbar-item" style="{{winStyle(item)}}" ng-repeat="item in toolbarOptions track by $index">
  </div>
</div>

<div ng-if="toggledTools.keypad" class="game-keypad-container">
  <div id="game-guessbox" style="{{winstyle({name: 'drain'})}}">
    <span style="border-bottom: {{indicator($index)}};" class="game-guessbox-digit" ng-repeat="num in guess track by $index">{{num}}</span>
  </div>

  <div id="game-keypad-pads-container">
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="hitNum(7)">7</div>
      <div class="game-keypad-pad" ng-click="hitNum(8)">8</div>
      <div class="game-keypad-pad" ng-click="hitNum(9)">9</div>
    </div>
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="hitNum(4)">4</div>
      <div class="game-keypad-pad" ng-click="hitNum(5)">5</div>
      <div class="game-keypad-pad" ng-click="hitNum(6)">6</div>
    </div>
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="hitNum(1)">1</div>
      <div class="game-keypad-pad" ng-click="hitNum(2)">2</div>
      <div class="game-keypad-pad" ng-click="hitNum(3)">3</div>
    </div>
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="moveSelector('left')">&lt;</div>
      <div class="game-keypad-pad" ng-click="hitNum(0)">0</div>
      <div class="game-keypad-pad" ng-click="moveSelector('right')">&gt;</div>
    </div>
  </div>
  <div id="game-keypad-guess">
    <div class="game-keypad-guess-pad ion-backspace" ng-click="clear()"></div>
    <div class="game-keypad-guess-pad ion-checkmark" ng-click="checkGuess()"></div>
  </div>
</div>

<div ng-if="toggledTools.log" id="game-log-container">
  <div id="game-log-label">HISTORY LOG</div>
  <ion-content id="game-log-content">
    <div class="game-log-entry" ng-repeat="entry in log track by $index">
      <div class="game-log-guessCode">{{entry.guess}}</div>
      <div id="game-log-clues">
        <div>
        <span class="game-log-num">{{entry.numPos}}</span>
        <span class="game-log-square" style="background: green;"></span>
        </div>
        <div>
        <span class="game-log-num">{{entry.numOnly}}</span>
        <span class="game-log-square" style="background: yellow;"></span>
        </div>
        <div>
        <span class="game-log-num">{{guess.length - (entry.numOnly + entry.numPos)}}</span>
        <span class="game-log-square" style="background: red;"></span>
        </div>
      </div>
      <div class="game-log-timeStamp">{{entry.date.toLocaleTimeString("en-us", {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
})}}</div>
    </div>
  </ion-content>
</div>

</ion-view>