<ion-view id="gamePage">

<div id="playerData">
  <div>codename: <span style="color: rgba(100,200,255,1);">{{player.username}}</span></div>
  <div>balance: <span style="{{drainingStyle()}}">${{commafyNumber(player.funds)}}.00</span></div>
  <div id="game-toolbox" ng-click="toggleToolbox()">
    <image style="width: 100%; height: auto;"src="img/toolbox.png" />
  </div>
</div>

<div ng-if="toggledTools.toolbox" id="game-toolbox-items">
  <div ng-click="tool.effect()" class="game-toolbox-item" ng-repeat="tool in toolboxItems track by $index">
    <image class="game-toolbox-item-image" src="{{tool.imageUrl}}" />
    <div class="game-toolbox-item-name">{{tool.name}}</div>
    <div class="game-toolbox-item-description">{{tool.description}}</div>
    <div class="game-toolbox-item-quantity">{{tool.getQuantity()}}</div>
  </div>
</div>

<div ng-if="isDisrupted" id="game-disrupted">
  disrupted
</div>

<div id="game-target-container">
  <div id="game-target-label">{{target.type.toUpperCase()}}</div>
  <image id="game-target-image" src="{{ 'img/' + target.imageUrl + '.png' }}"></image>
  <div id="game-target-account"><span style="font-size: 12px;">ACCOUNT: #</span>{{target.accountNum}}</div>
  <div id="game-target-funds" style="{{drainingStyle()}}"><span style="font-size: 12px; margin-left: 5px">BALANCE:</span> $ {{commafyNumber(target.funds)}}.00<span ng-if="defensiveDrain()" class="ion-nuclear" id="defDrain"></span></div>
</div>

<div id="game-attempts">
  <div id="game-attempts-label" class="ion-clipboard"></div>
  <div id="game-attempts-squares" style="overflow-x: scroll;">
    <span class="game-attempts-square" style="{{attemptsStyle(item)}}" ng-repeat="item in attemptsContainerArray track by $index"></span>
  </div>
</div>

<div id="game-timeLimit" style="border-color: {{timeColor}};">
  <div id="game-timeLimit-label" class="ion-clock" style="background: {{timeColor}};"></div>
  <div id="game-timeLimit-time" style="color: white;">{{timeLeftString}}</div>
</div>

<div id="game-toolbar-container">
  <div ng-click="item.clickHandler()" class="{{item.ioniconTag}} game-toolbar-item" style="{{winStyle(item)}}" ng-repeat="item in toolbarOptions track by $index">
  </div>
</div>

<div ng-if="toggledTools.keypad" class="game-keypad-container">
  <div id="game-guessbox" style="{{winstyle({name: 'drain'})}}">
    <span style="border-bottom: {{indicator($index)}};" class="game-guessbox-digit" ng-repeat="num in guess track by $index">{{num}}</span>
  </div>

  <div id="game-keypad-pads-container">
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="hitNum(7)">7</div>
      <div class="game-keypad-pad" ng-click="hitNum(8)">8</div>
      <div class="game-keypad-pad" ng-click="hitNum(9)">9</div>
    </div>
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="hitNum(4)">4</div>
      <div class="game-keypad-pad" ng-click="hitNum(5)">5</div>
      <div class="game-keypad-pad" ng-click="hitNum(6)">6</div>
    </div>
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="hitNum(1)">1</div>
      <div class="game-keypad-pad" ng-click="hitNum(2)">2</div>
      <div class="game-keypad-pad" ng-click="hitNum(3)">3</div>
    </div>
    <div class="game-keypad-pads-row">
      <div class="game-keypad-pad" ng-click="moveSelector('left')">&lt;</div>
      <div class="game-keypad-pad" ng-click="hitNum(0)">0</div>
      <div class="game-keypad-pad" ng-click="moveSelector('right')">&gt;</div>
    </div>
  </div>
  <div id="game-keypad-guess">
    <div class="game-keypad-guess-back ion-backspace" ng-click="clear()"></div>
  </div>
  <div id="game-keypad-check">
    <div class="game-keypad-guess-check ion-checkmark" ng-click="checkGuess()"></div>
  </div>
</div>

<div id="game-log-container">
  <div id="game-log-label">HISTORY LOG</div>
  <ion-content id="game-log-content">
    <div class="game-log-entry" style="{{successEntryStyle(entry.success)}}" ng-repeat="entry in log track by $index">
      <div class="game-log-guessCode">{{entry.guess}}</div>
      <div id="game-log-clues">
        <div>
        <span class="game-log-num">{{entry.numPos}}</span>
        <span class="game-log-square" style="background: green;"></span>
        </div>
        <div>
        <span class="game-log-num">{{entry.numOnly}}</span>
        <span class="game-log-square" style="background: yellow;"></span>
        </div>
        <div>
        <span class="game-log-num">{{guess.length - (entry.numOnly + entry.numPos)}}</span>
        <span class="game-log-square" style="background: red;"></span>
        </div>
      </div>
      <div class="game-log-timeStamp">{{entry.date.toLocaleTimeString("en-us", {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
})}}</div>
    </div>
  </ion-content>
</div>

<div ng-if="draining" id="game-drain-window">
  <div id="game-drain-label">account-drain.exe</div>
  <div id="game-drain-draining">draining...</div>
  <div id="game-drain-loadingbar-container">
    <div id="game-drain-loadingbar" style="{{drainBar()}}"></div>
  </div>
</div>

<div ng-if="disconnecting" id="game-drain-window">
  <div id="game-drain-label">Terminal</div>
  <div id="game-drain-draining" ng-if="aboutToDC">disconnecting...</div>
  <div id="game-disconnect-code" ng-if="!aboutToDC">{{disconnectCode.join('')}}</div>
  <div id="game-drain-loadingbar-container">
    <div id="game-drain-loadingbar" style="{{disconnectBar()}}"></div>
  </div>
</div>

<div ng-if="goingToJail" id="game-goingToJail-window">
  YOU WERE CAUGHT!
  <div style="position: absolute; bottom: 20px; left: 0px; right: 0px;"><span style="font-size: 20px;">GOING TO JAIL IN . . . </span>{{timeBeforeJail}}</div>
</div>

<div ng-if="lockedOut" style="background: rgba(0,0,0,0.5); position: absolute; top: 190px; bottom: 40px; left: 0px; right: 0px;">
<div id="game-lockedOut-window">
  <div style="padding-top: 15px; width: 100%; text-align: center; font-size: 40px; font-weight: bold;">LOCKED OUT</div>
  <div style="position: absolute; text-align: center; bottom: 5px; left: 0px; right: 0px;">DISCONNECT NOW BEFORE<br>YOU ARE CAUGHT</div>
</div>
</div>

<div ng-if="lockedOut" style="background: rgba(0,0,0,0.5); position: absolute; height: 40px; bottom: 0px; right: 0px; width: 75%;">
</div>

<div ng-if="lockedOut" style="background: rgba(0,0,0,0.5); position: absolute; height: 45px; top: 143px; bottom: 0px; left: 0px; right: 155px;">
</div>

<div ng-if="lockedOut" style="background: rgba(0,0,0,0.5); position: absolute; height: 143px; top: 0; bottom: 0px; left: 0px; right: 0;">
</div>

</ion-view>