<!-- MAIN PAGE -->
<ion-view id="mainpage">

  <div id="music" style="color: {{musicState.color}};" ng-click="toggleSound()">
    <span class="ion-music-note"></span>
    {{musicState.name}}
  </div>

  <!-- Logo & Name -->
  <div id="main-logoAndName-container">
    <img id="main-logo" src="img/lilbroface.png">
    <div id="main-name">lilbro</div>
  </div>

  <!-- Main Menu -->
  <div class="main-menu-container">
  
    <div ng-if="hasAlias">

      <!-- Menu Options -->
      <ion-content id="main-menu" has-bouncing="false">
        <div id="main-menu-option" ng-click="option.clickEventHandler()" ng-repeat="option in menuOptions track by $index">
          <img id="main-menu-option-image" src="{{option.image}}">
          <span id="main-menu-option-name" >{{option.name}}</span>
        </div>
      </ion-content>
    </div>

  </div>

  <!-- Login -->
  <div class="main-menu-login" ng-if="!hasAlias">
    <div style="width: 100%; height: 100%; text-align: center; position: absolute; top: 35%;">
      <div id="main-alias-label">USERNAME:</div>
      <input id="main-alias-input" ng-model="user.username">
      <div id="main-start-button" ng-click="start()">begin</div>
    </div>
  </div>

</ion-view>