<ion-view id="manualPage">

<div id="manual-title">hacker manual</div>

<ion-content id="manual-instructions-container">

<!-- GOAL -->
<div class="manual-label">1 - objective</div>
<div class="manual-direction">

<p style="text-indent: 20px;">Hack targets, make money, and unlock higher levels.</p>
</div>

<!-- HACKING TARGETS -->
<div class="manual-label">2 - hacking targets</div>
<div class="manual-direction">

<p style="text-indent: 20px;">From main menu: play > hack targets > pick a target type</p>
<p style="text-indent: 20px;">After picking a target type, the program will search potential targets for you. Click on a target to initiate the hack.</p>
</div>

<!-- INITIATING A HACK -->
<div class="manual-label">3 - cracking the password</div>
<div class="manual-direction">

<p style="text-indent: 20px;">Press the <span class="ion-calculator" style="text-indent: 0px; font-size: 20px;"></span> button to show/hide the keypad. Use the keypad to try out different combinations.</p>

<p style="text-indent: 20px;">You are only allowed a limited number of tries as shown to the right of the <span class="ion-clipboard" style="text-indent: 0px; font-size: 20px;"></span> icon. Use them wisely.</p>
<p style="text-indent: 20px;">Your password cracking attempts are recorded under history log. The colored boxes on the right are clues that tell you something about your attempts.</p>
<p style="text-indent: 20px;"><span style="display: inline-block; height: 10px; width: 10px; background-color: green;"></span> indicates the number of correct digits in the right place.</p>
<p style="text-indent: 20px;"><span style="display: inline-block; height: 10px; width: 10px; background-color: yellow;"></span> indicates the number of correct digits in the wrong place.</p>
<p style="text-indent: 20px;"><span style="display: inline-block; height: 10px; width: 10px; background-color: red;"></span> indicates the number of wrong digits.</p>

<p style="text-indent: 20px;">Get all green and you win!</p>


</div>

<!-- DRAINING AND DISCONNECTING -->
<div class="manual-label">4 - draining and disconnecting</div>
<div class="manual-direction">

<p style="text-indent: 20px;">Once you've successfully cracked your target's password, you now have full access to your target's bank account. Press the <span class="ion-nuclear" style="text-indent: 0px; font-size: 20px;"></span> button when it turns green to drain your target's bank account and transfer that money to your own bank account.</p>
<p style="text-indent: 20px;">Whether you've been locked out or you've successfully drained your target's bank account, press on the <span class="ion-power" style="text-indent: 0px; font-size: 20px;"></span> button to disconnect from your target. Make sure you do this as soon as needed even after a successful draining to avoid being tracked down.</p>
</div>

<!-- HACKING TOOLS -->
<div class="manual-label">extra - using hacking tools</div>
<div class="manual-direction">

<p style="text-indent: 20px;">You can purchase items from the black market that will give you tactical advantages when cracking. Some of these items are usable during a hacking session.</p>
<p style="text-indent: 20px;">Just click the toolbox icon on the top-right of your password cracking program, and click on the hacking tool you want to activate.</p>
</div>

<!-- DRAINING AND DISCONNECTING -->
<div class="manual-label">extra - jail</div>
<div class="manual-direction">

<p style="text-indent: 20px;">Some targets have triangulation as part of their defenses against hackers. These are time limits. When they hit zero, you get sent to jail and and serve a sentence.</p>
<p style="text-indent: 20px;">To get out of jail, you can either serve your sentence, pay a bribe, or blackmail your way out.</p>
</div>

<!-- SECURITY FEATURES -->
<div class="manual-label">extra - security features</div>
<div class="manual-direction">

<p style="text-indent: 20px;">Some targets have triangulation as part of their defenses against hackers. These are time limits. When they hit zero, you get sent to jail and and serve a sentence.</p>
<p style="text-indent: 20px;">Some targets have a defensive mechanism in place that drains their own bank account while you're hacking to prevent you from stealing their money even after you cracked their passwords. You must crack their passwords before the money runs out.</p>
<p style="text-indent: 20px;">To get out of jail, you can either serve your sentence, pay a bribe, or blackmail your way out.</p>
</div>

</ion-content>

<div id="target-home-button" ng-click="goToMain()"> < main menu </div>
</ion-view>