<ion-view id="manualPage">

<div id="manual-title">hacker manual</div>

<ion-content id="manual-instructions-container">

<!-- GOAL -->
<div class="manual-label">1 - the objective</div>
<div class="manual-direction">

<p style="text-indent: 20px;">The objective of the game is to become the most notorious hacker in the criminal underworld.</p>
<p style="text-indent: 20px;">Successfully hacking and cracking your target's password unlocks the next level.</p>
</div>

<!-- HACKING TARGETS -->
<div class="manual-label">2 - hacking targets</div>
<div class="manual-direction">

<p style="text-indent: 20px;">On the main menu, press "play" to go to your hacker dashoard.</p>
<p style="text-indent: 20px;">On your hacker dashboard, press "hack targets" to view different types of targets.</p>
</div>

<!-- INITIATING A HACK -->
<div class="manual-label">3 - initiating a hack</div>
<div class="manual-direction">

<p style="text-indent: 20px;">Click on a target type to retrieve a list of potential targets of the selected type</p>
<p style="text-indent: 20px;">Click on one of the potential targets to initiate a hack.</p>
</div>

<!-- INITIATING A HACK -->
<div class="manual-label">4 - cracking the password</div>
<div class="manual-direction">

<p style="text-indent: 20px;">After you've initiated the hack, you are brought to your password cracking program.</p>

<p style="text-indent: 20px;">Press the <span class="ion-calculator" style="text-indent: 0px; font-size: 20px;"></span> button to show/hide the keypad. Enter a combination and pess the <span class="ion-checkmark" style="text-indent: 0px; font-size: 20px;"></span> button to try the combination. You are only allowed a limited number of tries before you get locked out, at which point you have no choice but to disconnect. You can purchase an upgrade in the black market to increase the number of tries available.</p>

<p style="text-indent: 20px;">Every time you try a combination, you receive a feedback that is found under the history log. This feedback contains several pieces of information about your password attempt: the attempted combination, and the 3 colored boxes to the right with numbers next to them.</p>

<p style="text-indent: 20px;">These are vital pieces of information you use to logically crack your target's password.</p>

<p style="text-indent: 20px;">The green box <span style="display: inline-block; height: 10px; width: 10px; background: green; text-indent: 0px;"></span> indicates how many digits you got correctly that are also in the right place.</p>

<p style="text-indent: 20px;">The yellow box <span style="display: inline-block; height: 10px; width: 10px; background: yellow; text-indent: 0px;"></span> indicates how many digits you got correctly but are in the wrong place.</p>

<p style="text-indent: 20px;">The red box <span style="display: inline-block; height: 10px; width: 10px; background: red; text-indent: 0px;"></span> indicates how many digits you got completely wrong and are not included in the secret password.</p>

<p style="text-indent: 20px;">Use this information to crack your target's password.</p>


</div>

<!-- DRAINING AND DISCONNECTING -->
<div class="manual-label">5 - draining and disconnecting</div>
<div class="manual-direction">

<p style="text-indent: 20px;">Once you've successfully cracked your target's password, you now have full access to your target's bank account. Press the <span class="ion-nuclear" style="text-indent: 0px; font-size: 20px;"></span> button when it turns green to drain your target's bank account and transfer that money to your own bank account.</p>
<p style="text-indent: 20px;">Whether you've been locked out or you've successfully drained your target's bank account, press on the <span class="ion-power" style="text-indent: 0px; font-size: 20px;"></span> button to disconnect from your target. Make sure you do this as soon as needed even after a successful draining to avoid being tracked down.</p>
</div>

</ion-content>

<div id="target-home-button" ng-click="goToMain()"> < main menu </div>
</ion-view>