<ion-view id="marketPage">
  <div id="market-header">
    <image id="market-icon" src="img/balance.png" />
    <span id="market-title">BLACK MARKET</span>
  </div>

  <div id="market-funds-label"><u>ACCOUNT BALANCE:</u></div>
  <div id="market-funds"><span style="font-size: 20px;">$</span>{{commafyNumber(getFunds())}}.00</div>

  <view id="market-product-container">
    <div id="market-product-title">COMMODITIES</div>
    <ion-content id="market-product-content">
      <div id="market-product" ng-repeat="item in products track by $index">
        <image id="market-item-image" src="{{item.imageUrl}}" />
        <div id="market-item-name">{{item.name}}</div>
        <div id="market-item-cost">Cost: ${{commafyNumber(item.cost())}}.00</div>
        <div id="market-item-buy" ng-click="item.purchase(item.cost())">PURCHASE</div>
        <div id="market-item-description"><u>Description:</u><br>--- {{item.description}}</div>
        <div id="market-item-quantity">Quantity owned: {{item.getQuantity();}}</div>
      </div>
    </ion-content>
  </view>

  <div id="target-home-button" ng-click="goToMain()">< main menu</div>
</ion-view>