<!-- TARGETS PAGE -->
<ion-view id="targetPage">

<div id="target-home-button" ng-click="goToMain()"> < back </div>

<!-- Target List -->
<div id="target-list-container">
  <div id="target-list-container-label">types of targets</div>
  <!-- Target -->
  <ion-content style="padding: 5px; padding-top: 25px;" has-bouncing="false">
  <div id="target-item" ng-click="targetClickEventHandler(item, $index)" ng-repeat="item in targets track by $index">
    <div id="target-item-type">{{item.type}}</div>
    <img id="target-item-image" src="{{ 'img/' + item.imageUrl + '.png' }}">
    <div id="target-item-lock" class="ion-locked" ng-if="lockLevel($index)"></div>
    <div id="target-item-cost" class=""><span style="font-size: 15px;">$</span>{{commafyNumber(item.fee)}}.00<span ng-if="canAfford(item.fee, $index)" id="insufficient">insufficient funds</span></div>
    <div id="target-item-info">
      password length: {{item.security.passLength}}<br>
      time limit: {{item.security.timeLimit || '-'}} seconds<br>
      drain rate: {{item.security.drainRate*100 || '0'}} %<br>
    </div>
  </div>
  </ion-content>
</div>

</ion-view>