<!-- TARGETS PAGE -->
<ion-view id="targetPage">

<div id="playerData">
  <div>Username: <span style="color: rgba(100,200,255,1);">{{player.username}}</span></div>
  <div>Funds: <span style="color: green;">${{commafyNumber(player.funds)}}.00</span></div>
</div>

<div id="target-home-button" ng-click="goToMain()"> < main menu </div>

<!-- Target List -->
<div id="target-list-container">
  <div id="target-list-container-label">TARGET TYPES</div>
  <!-- Target -->
  <ion-content style="padding: 5px; padding-top: 25px;" has-bouncing="false">
  <div id="target-item" ng-click="targetClickEventHandler(item, $index)" ng-repeat="item in targets track by $index">
    <div id="target-item-type">{{item.type}}</div>
    <img id="target-item-image" src="{{ 'img/' + item.imageUrl + '.png' }}">
    <div id="target-item-lock" class="ion-locked" ng-if="lockLevel($index)"></div>
    <div id="target-item-cost" class=""><span style="font-size: 15px;">$</span>{{commafyNumber(item.fee)}}.00<span ng-if="canAfford(item.fee, $index)" id="insufficient">INSUFFICIENT FUNDS</span></div>
  </div>
  </ion-content>
</div>

</ion-view>