<div class="popup-window"
     style="top: 40%; left: 10%; right: 10%; bottom: auto; height: 70px; z-index: 99999">
  
  <!-- Header Bar-->
  <!--<div class="popup-headerBar">
    <div class="popup-filename">cmd.exe</div>
    <div class="popup-exit ion-ios-close-empty" ng-click="closeRetrieving()"></div>
  </div>-->

<div style="position:absolute; font-family: square; font-size: 35px; width: 100%; text-align: center; top:15px;">searching...</div>


  <!-- Popup Content -->
  <div class="popup-content">

    <div id="retrieving-loading-container">
      <div class="loading-bar" style="width: {{progress}}%"></div>
    </div>

  </div>

</div>
