<ion-modal-view class="popup-window" style="width: 90%; height: 80%; min-height: 0; max-height: 100%; top: 10%; left: 5%; right: 5%; bottom: 10%;">

  <!-- Header Bar-->
  <div class="popup-headerBar">
    <div class="popup-filename">{{selectedTarget.type}}</div>
    <div class="popup-exit ion-close" ng-click="closeTargetList()"></div>
  </div>

  <!-- Popup Content -->
  <ion-content class="popup-content" has-bouncing="false">
    <div id="target-item" ng-repeat="target in targetList" ng-click="initiateGame(target)">
      <div style="font-size: 15px;">Account: #{{target.accountNum}}</div>
      <div style="font-size: 15px;">Balance: ${{commafyNumber(target.funds)}}.00</div>
    </div>
  </ion-content>

<div ng-if="isLoading" class="popup-window"
     style="top: 40%; left: 10%; right: 10%; bottom: auto; height: 70px; z-index: 99999">
  
  <!-- Header Bar-->
  <!--<div class="popup-headerBar">
    <div class="popup-filename">cmd.exe</div>
    <div class="popup-exit ion-ios-close-empty" ng-click="closeRetrieving()"></div>
  </div>-->

<div style="position:absolute; font-family: square; font-size: 35px; width: 100%; text-align: center; top:15px;">searching...</div>


  <!-- Popup Content -->
  <div class="popup-content" >

    <div id="retrieving-loading-container">
      <div class="loading-bar" style="width: {{progress}}%"></div>
    </div>

  </div>

</div>

</ion-modal-view>